<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petaiprogram.mapper.ProfileMapper">

    <resultMap id="BaseResultMap" type="com.petaiprogram.domain.Profile">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="birthday" column="birthday" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,avatar,account,
        nickname,sex,birthday,
        city
    </sql>
</mapper>
